In [92]:
from sqlalchemy import create_engine, text
from sqlalchemy.types import JSON, Text
#from sqlalchemy.dialects.postgresql import JSON 
import pandas as pd
import json
import time
import requests
from dotenv import load_dotenv
import os

In [93]:
engine = create_engine(f"postgresql+psycopg2://postgres:resume_db@localhost:5432/postgres")

In [96]:
def get_deployedModel_subStatus():

    sql_string = """
    select sub_status, count(*) 
    from inventory.inventory
    where lower(status) like '%deploy%'
    group by sub_status
    """
    
    counts = pd.read_sql(text(sql_string), engine).values
    return {i[0]: i[1] for i in counts}

In [97]:
get_deployedModel_subStatus()

{'LMD': 391, 'NEP': 2}

In [89]:
def get_stockModel_subStatus():

    sql_string = """
    select sub_status, count(*) 
    from inventory
    where lower(status) like '%stock%'
    group by sub_status
    """
    
    counts = pd.read_sql(text(sql_string), engine).values
    return {i[0]: i[1] for i in counts}

In [90]:
get_stockModel_subStatus()

{'Depot Inventory': 5, 'EOW': 1, 'LMD': 1, 'Project': 81, 'Repair': 1}

In [85]:
def get_stockModel_view():

    sql_string = """
    select make_model, count(*) 
    from inventory
    where lower(status) like '%stock%'
    group by make_model
    """
    
    counts = pd.read_sql(text(sql_string), engine).values
    return {i[0]: i[1] for i in counts}

In [86]:
get_stockModel_view()

{'Macbook Pro': 1,
 'Macbook Pro 14"': 5,
 'Macbook Pro 14" M1': 8,
 'Macbook Pro 16"': 1,
 'Macbook Pro 16" M1': 15,
 'MAC Book Pro Note Book 16"': 59}

In [83]:
def get_deployedModel_view():

    sql_string = """
    select make_model, count(*) 
    from inventory
    where lower(status) like '%deploy%'
    group by make_model
    """
    
    counts = pd.read_sql(text(sql_string), engine).values
    return {i[0]: i[1] for i in counts}

In [82]:
get_deployedModel_view()

{'Macbook Pro': 8,
 'Macbook Pro 14"': 94,
 'Macbook Pro 14" M1': 164,
 'Macbook Pro 16"': 29,
 'Macbook Pro 16" M1': 28,
 'MAC Book Pro Note Book 16"': 70}

In [65]:
def get_stock_devices():

    sql_string = """
    select count(distinct(service_tag_number)) from inventory where lower(status) like '%stock%'
    """

    counts = pd.read_sql(text(sql_string), engine)
    return counts.to_dict("records")[0]

In [66]:
get_stock_devices()

{'count': 89}

In [61]:
def get_deployed_devices():

    sql_string = """
    select count(distinct(service_tag_number)) from inventory where lower(status) like '%deploy%'
    """

    counts = pd.read_sql(text(sql_string), engine)
    return counts.to_dict("records")[0]

In [62]:
get_deployed_devices()

{'count': 393}

In [63]:
def get_all_devices():

    sql_string = """
    select count(distinct(service_tag_number)) from inventory
    """

    counts = pd.read_sql(text(sql_string), engine)
    return counts.to_dict("records")[0]

In [64]:
get_all_devices()

{'count': 481}

## Appendix

In [12]:
engine = create_engine(f"postgresql+psycopg2://postgres:resume_db@localhost:5432/postgres")

In [28]:
data = pd.read_excel("HALO_Inventory.xlsx")
col_mappings = 	{'Sr./ServiceTagNumber': 'service_tag_number', 
                 'Status': 'status', 
                 'Sub Status': 'sub_status', 
                 'Ordered by': 'ordered_by',
                 'Make/ Model': 'make_model', 
                 'PO / Invoice Number': 'po', 
                 'Ownership': 'ownership', 
                 'Deployed Date': 'deployed_date',
                 'Location': 'location', 
                 'Received ': 'received', 
                 'Warranty End': 'warranty_end', 
                 'Warranty date': 'warranty_date',
                 'Warranty Status': 'warranty_status', 
                 'year ': 'year'}

In [29]:
data.rename(columns = col_mappings, inplace=True)

In [30]:
data.columns

Index(['service_tag_number', 'status', 'sub_status', 'ordered_by',
       'make_model', 'po', 'ownership', 'deployed_date', 'location',
       'received', 'warranty_end', 'warranty_date', 'warranty_status', 'year'],
      dtype='object')

In [32]:
data.head()

,service_tag_number,status,sub_status,ordered_by,make_model,po,ownership,deployed_date,location,received,warranty_end,warranty_date,warranty_status,year
0,C02FD0UMMD6M,Deployed,LMD,47200067,"MAC Book Pro Note Book 16""",4500377796,Project,2021-05-17 00:00:00,Pune,2021-03-31 00:00:00,2024-03-29,March 24,EOW,2024
1,C02FD0UMMD6M,In Stock,Project,47200067,"MAC Book Pro Note Book 16""",4500377796,Project,2021-07-08 00:00:00,Pune,2021-03-31 00:00:00,2024-03-29,March 24,EOW,2024
2,P6C6R5XX5N,Deployed,LMD,47200072,"Macbook Pro 14""",NaN,Project,2022-12-19 00:00:00,Pune,2022-11-01 00:00:00,2025-11-01,November 25,Warranty,2025
3,R2D9K29RMW,Deployed,LMD,47200072,"Macbook Pro 14"" M1",NaN,Project,NaN,Pune,2021-03-23 00:00:00,2024-03-21,March 24,EOW,2024
4,K4MLX4HT29,Deployed,LMD,47200072,"Macbook Pro 16""",4500379316,Project,2024-02-01 00:00:00,Pune,2022-11-25 00:00:00,2025-11-23,November 25,Warranty,2025

In [91]:
with engine.begin() as conn:
    data.to_sql(name="inventory", schema="inventory", con=conn, if_exists='append', index=False)